<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
         <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/login.css" />
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <link rel="stylesheet" href="/css/chat.css">
</head>
<body>

    {{>navbar}}
  <!--
    <div class="conatiner">
        <div id="chat-container">
            <div id="chat-window">
                <div id="output" >
             
                </div>
                <div id="actions"></div>
            </div>

            <input type="text" id="username" placeholder="Username">
            <input type="text" id="message" placeholder="Message">

            <button id="send">Send</button>

        </div>
    </div>

-->


<div class="container">
    <div class="row mb-4">
        <div class="col-12 text-center pt-3">
            <h1>Chat Room</h1>
        </div>
    </div>
    <div class="row justify-content-md-center mb-4">
        <div class="col-md-6">
        <!--start code-->
            <div class="card">
                <div class="card-header">
                 
                        <div class="input-group">
                            <input id="message" type="text" name="messages" class="form-control input-sm" placeholder="Type your message here..." />
                            <span class="input-group-append">
                                <button class="btn btn-primary" type="submit" id="send" >Send <i class="fas fa-airplane"></i></button>
                            </span>
                        </div>
                          <div id="actions">
                                
                            </div>
                    
                </div>
                <div class="card-body messages-box">
                    <ul class="list-unstyled messages-list" id="output">
                    
                    </ul>
                </div>
            </div>
        	<!--end code-->
        	
        </div>
    </div>
	
	<div class="row mb-4 mt-5">
        <div class="col-12 text-center">
            <p>Design by Ari Budin <a target="_blank" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">Bootstrap.News</a></p>
        </div>
    </div>
</div>


    
    {{>footer}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
</body>
</html>